{
    "rules": {
        "max-nested-callbacks": [1, 8],
        "no-unused-expressions": 0
    },
    "globals": {
        "it": false,
        "describe": false,
        "before": false,
        "beforeEach": false,
        "after": false,
        "afterEach": false
    }
}