{
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "array-bracket-spacing":[2,"never"],
    "block-scoped-var": 2,
    "brace-style": [2, "1tbs"],
    "camelcase": 1,
    "complexity": [2, 10],
    "computed-property-spacing":[2,"never"],
    "consistent-return": 2,
    "curly": 2,
    "dot-notation": 1,
    "eol-last": 2,
    "eqeqeq": [2, "smart"],
    "max-depth": [2, 3],
    "max-statements": [2, 15],
    "max-len": [1, 120],
    "max-nested-callbacks": [1, 4],
    "new-cap": 1,
    "no-console": 2,
    "no-extend-native": 2,
    "no-loop-func": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-shadow": 2,
    "no-sync": 2,
    "no-trailing-spaces": 1,
    "no-use-before-define": [2, "nofunc"],
    "no-undef": 2,
    "no-unused-vars": 1,
    "no-var": 2,
    "object-curly-spacing": [2,"never"],
    "prefer-const": 2,
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "space-after-keywords": [2, "always"],
    "space-unary-ops": 2,
    "valid-jsdoc": [2, {
      "prefer": {
        "arg": "param",
        "argument": "param",
        "constant": "const",
        "constructor": "class",
        "defaultvalue": "default",
        "desc": "description",
        "exception": "throws",
        "extends": "augments",
        "file": "overview",
        "fileoverview": "overview",
        "fires": "emits",
        "func": "function",
        "host": "external",
        "method": "function",
        "prop": "property",
        "return": "returns",
        "var": "member",
        "virtual": "abstract"
      },
      "requireReturn": false
    }]
  }
}
