[![Build Status](https://travis-ci.org/SockDrawer/SockBot.svg)](https://travis-ci.org/SockDrawer/SockBot)
[![Coverage Status](https://coveralls.io/repos/SockDrawer/SockBot/badge.svg)](https://coveralls.io/r/SockDrawer/SockBot)
[![Docs Status](https://readthedocs.org/projects/sockbot/badge)](http://sockbot.readthedocs.org)

[![Dependency Status](https://david-dm.org/SockDrawer/SockBot.svg)](https://david-dm.org/SockDrawer/SockBot)
[![devDependency Status](https://david-dm.org/SockDrawer/SockBot/dev-status.svg)](https://david-dm.org/SockDrawer/SockBot#info=devDependencies)
[![optionalDependency Status](https://david-dm.org/SockDrawer/SockBot/optional-status.svg)](https://david-dm.org/SockDrawer/SockBot#info=optionalDependencies)

[![Stories in Ready](https://badge.waffle.io/sockdrawer/sockbot.png?label=ready&title=Ready)](https://waffle.io/sockdrawer/sockbot)
[![Stories in Progress](https://badge.waffle.io/sockdrawer/sockbot.png?label=in%20progress&title=In%20Progress)](https://waffle.io/sockdrawer/sockbot)
